body {
    background: #c6bfa6;
}

.contenedor{

    display: flex;
    justify-content: space-around;
    margin: 50px 20px;
    border-radius: 10px;
    padding: 30px;
    background: #929d79;

}

.contenedor-foto{
    
   
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 70%;
    
}

.nombre-producto{
    margin:auto;
    padding: 30px;
}

.contenedor-contacto{
    display: block;
    margin: auto;

    
}

.contenedor-contacto h2 {
    text-align: center;
    padding: 20px;
}
.boton-enviar{
    display: flex;
    justify-content: center;
    width: 180px;
    background: hsla(47, 22%, 71%, 0.808);
    padding: 10px;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-family: "montserrat";
    font-weight: 20;
    cursor: pointer;

}
.contenedor-descripcion, .contenedor-intereses {
    
    border-radius: 10px;
    background: #929d79;
    margin: 50px 20px;
    
    padding: 10px;

}

