


    <div class="contenedor">
        <div class="contenedor-foto">
            <h1 class="nombre-producto">Nombre del producto</h1>
            <br>
            <img src="../media/notebook.jpg" alt="Foto del producto que subio el usuario"  width= 300px  height= 200px border-radius=50% >
        </div>
        <div class="contenedor-contacto">
            <h2>Contacto</h2>
            <a href="/src/pages/formulario-contacto-cliente.html" class="boton-enviar">Enviar Mensaje</a>

        </div>
    </div>

    
    <div class="contenedor-descripcion">
        <h2>Descripcion</h2>
        <p class="descripcion-producto"></p>
    </div>
    <div class="contenedor-intereses">
        <h2>Intereses</h2>
    </div>

   
    



