<div class="contenido">


  <form action="" class="formulario" id="formulario" name="formulario">
      <h2>FORMULARIO DE REGISTRO</h2>

      <div class="info">
          <label for="names">Nombre</label>
          <input type="text" id="names" name="names" formControlName="nombre">

          <label for="names">Apellido</label>
          <input type="text" id="names" name="names">

          <label for="names">DNI</label>
          <input type="text" id="names" name="names">

          <label for="email">E-mail </label>
          <input type="text" id="email" name="email">

          <label for="names">Telefono</label>
          <input type="text" id="names" name="names">

          <label for="names">Fecha de Nacimiento</label>
          <input type="text" id="names" name="names">

          <label for="names">Direccion</label>
          <input type="text" id="names" name="names">

          <label for="names">Codigo Postal</label>
          <input type="text" id="names" name="names">


          <input type="submit" value="ENVIAR" id="btnSend">
      </div>
  </form>

</div>
