<div class="contenido">

  <section class="info_">
      <h1>INFORMACIÓN<br>DE CONTACTO</h1>

      <section class="items">
          <p><span class="fa fa-location-dot"></span> Córdoba, Argentina </p>
          <p><span class="fa fa-mobile"></span> (+54) 9 3513 0741 446 </p>
          <p><span class="fa fa-envelope"></span>retrueque@gmail.com</p>
      </section>
  </section>

  <form action="" class="formulario" id="formulario" name="formulario">
      <h2>FORMULARIO DE CONTACTO</h2>

      <div class="info">
          <label for="names">Nombre y Apellido </label>
          <input type="text" id="names" name="names">

          <label for="email">E-mail </label>
          <input type="text" id="email" name="email">

          <label for="asunto">Asunto </label>
          <textarea id="asunto" name="asunto"></textarea>

          <label for="mensaje">Mensaje </label>
          <textarea id="mensaje" name="mensaje"></textarea>

          <input type="submit" value="ENVIAR" id="btnSend">
      </div>
  </form>

</div>
