<div>
  <form class="mb-4" #formLogin="ngForm" >
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" required class="form-control" id="email" aria-describedby="emailHelp" name="usuario" [(ngModel)]="register.email">
      <div id="emailHelp" name="Email" class="form-text">Nunca compartiremos tu correo electrónico con nadie más.</div>
    </div>
    <div class="mb-3">
      <label for="password" required class="form-label" name="password" >Password</label>
      <input type="password" name="Password" class="form-control" id="password"[(ngModel)]="register.password">
    </div>
  </form>
  <button [disabled]="formLogin.invalid" type="submit" class="btn btn-primary" (click)="loginOk()">Login</button>
  <button type="button" class="btn btn-primary" routerLink="/">Close</button>
</div>

