
  <!-- Container Padre -->
  <div class="container">

  <div class="grid-quienes-somos">

      <main class="vision-mision-valor">
        <div class="articulos">
          <img src="../../../assets/images/vision.png" height="200px" width="200px" alt="">
          <h3>VISIÓN</h3>
          <p>Promover la optimización de recursos y la reducción en el consumo de materias primas.</p>
        </div>

        <div class="articulos">
          <img src="../../../assets/images/mision.png" height="200px" width="200px" alt="">
          <h3>MISION</h3>
          <p>Fomentar la economía circular como parte del estilo de vida.</p>
        </div>

        <div class="articulos">
          <img src="../../../assets/images/principios.png" height="200px" width="200px" alt="">
          <h3>PRINCIPIOS</h3>
          <p>•Segundo uso •Reutilización •Reciclaje •Valorización</p>
        </div>
      </main>

      <header class="primera-linea">
        <h2 data-aos="fade-up" data-aos-duration="1000">¿Cómo surgió este proyecto?</h2>
        <p>Surge de la idea profesional del equipo de trabajo,
          conociendo las transacciones básicas y estableciendo que el mercado se
          permite hacer cambios seguros y entre las partes, aplicando la historia
          de la humanidad respecto al trueque y retomando estas prácticas posteriores
          a la pandemia donde muchos no pueden alcanzar todo basados en un modelo económico.
        </p>
      </header>

      <div class="definicion-retrueque">
        <h1 data-aos="fade-up" data-aos-duration="1000">¿De qué se trata ReTRUEQUE?</h1>
        <p>ReTrueque es un sistema de intercambio de objetos y/o servicios,
          es decir, un sistema de trueque, no hay dinero de por medio,
          nosotros ponemos en contacto a personas que quieran realizar
          un intercambio.
        </p>
        <p>El trueque volvió; el mundo cambió y requiere herramientas
          que se encuentren en tus capacidades, en ReTrueque buscamos
          que sea posible. Utilizamos las tecnologías para acompañar el trueque
          y hacer que funcione.
        </p>
        <p>En el año 2020, en plena crisis por el Covid-19, las cosas no
          resultaron más fáciles; las personas se reunían en línea y en
          grupos buscando intercambiar gran variedad de artículos y servicios.
          Con ReTrueque podes ser parte del cambio y hacerlo realidad;
          postea tus objetos y lo que tengas en alcance para intercambiar,
          propone a alguien más que lo necesite, de esta manera se
          cierra un trueque.
        </p>
      </div>

    </div>




