<footer class="footer margen-interno">
    <div class="footer-logo" data-aos="fade-up" data-aos-duration="3000">
      <h4>RETRUEQUE</h4>
    </div>
    <div class="footer-enlaces" data-aos="fade-up" data-aos-duration="3000">
      <h5>ENLACES</h5>
      <ul>
        <li><a href="index.html" routerLink="">Home</a></li>
        <li><a href="./src/pages/quienessomos.html" routerLink="/quienessomos">Quienes Somos</a></li>
        <li><a href="index.html#seccion-productos" routerLink="/productos">Productos</a></li>
        <li><a href="./src/pages/formulario-contacto.html" routerLink="contacto">Contacto</a></li>
        <li><a href="https://cluster2.com.ar/">Developers</a></li>
      </ul>

    </div>
    <div class="footer-contacto" data-aos="fade-up" data-aos-duration="3000">
      <h5>CONTACTO</h5>
      <ul>
        <li><a href="https://goo.gl/maps/ZcA7Py71yQPFXazA7" target="_blank"><i class="fa-solid fa-location-dot"></i>Córdoba, Argentina</a></li>
        <li><a href="tel:+5435150741446" target="_blank"><i class="fa-solid fa-mobile"></i>(+54) 9 3513 0741 446</a></li>
        <li><a href="mailto:retrueque@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>retrueque@gmail.com</a></li>
        <li><a href="https://github.com/ClusterTwo/Cluster2" target="_blank"><i class="fa-brands fa-github"></i>Github</a></li>
        <li><a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i>Linkedin</a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
      </ul>
    </div>
  </footer>
