    <!-- Seccion Productos  -->
    <div class="seccion-productos margen-interno" id="seccion-productos">
      <div class="seccion-catalogo">
        <div class="seccion-catalogo-producto">
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/auto.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="src/pages/posteo-producto.html" class="btn btn-dark">Ver Detalle</a>
            </div>
          </div>
        </div>
        <div class="seccion-catalogo-producto">
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/shampoo.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="src/pages/posteo-producto.html" class="btn btn-dark">Ver Detalle</a>
            </div>
          </div>
        </div>
        <div class="seccion-catalogo-producto">
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/ropa.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="src/pages/posteo-producto.html" class="btn btn-dark">Ver Detalle</a>
            </div>
          </div>
        </div>
        <div class="seccion-catalogo-producto">
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/notebook.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="src/pages/posteo-producto.html" class="btn btn-dark">Ver Detalle</a>
            </div>
          </div>
        </div>
        <div class="seccion-catalogo-producto">
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/libros.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="src/pages/posteo-producto.html" class="btn btn-dark">Ver Detalle</a>
            </div>
          </div>
        </div>
        <div class="seccion-catalogo-producto">
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/disquera.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="src/pages/posteo-producto.html" class="btn btn-dark">Ver Detalle</a>
            </div>
          </div>
        </div>
        <div class="seccion-catalogo-producto">
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/jabones.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="src/pages/posteo-producto.html" class="btn btn-dark">Ver Detalle</a>
            </div>
          </div>
        </div>
        <div class="seccion-catalogo-producto">
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/zapatilla.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="src/pages/posteo-producto.html" class="btn btn-dark">Ver Detalle</a>
            </div>
          </div>
        </div>
      </div>
    </div>

