/* SECCION HEADER -  MENÚ Y PRESENTACION DE MARCA */
.header {
  background: #929d79;
  background-image: -webkit-linear-gradient(hsla(78, 16%, 55%, 0.600), hsla(78, 16%, 55%, 0.600)), url(/src/assets/images/presentacion2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  /* height: 400px; */
}

.header-menu{
  backdrop-filter: blur(3px);
  /* display: flex; */
  /* flex-flow: row nowrap; */
  height: auto;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .5) ;
}

/* HEADER - LOGO */
.header-menu-logo{
  /* background-color: beige; */
  flex: 1 1 auto;
}
  .header-menu-logo a{
      color: #fff;
  }

  .menu-logo-img{
      height: 50px;
      border-radius: 50%;
  }

/* Header - MENU NAVBAR */
.header-menu-navbar{
  /* background-color: beige; */
  /* flex: 1 5 auto; */
  font-size: 12px;
  justify-content: center;
  justify-content: flex-end;
}

  .header-menu-navbar a{
      color: white;
      font-size: 12px;
      letter-spacing: 2px;
      font-weight: 300;
  }

      .header-menu-navbar a:hover{
          color: rgba(212, 212, 212, 0.884)
      }

      .header-menu-navbar i{
          margin-right: 3px;
      }

/* Header - MENU USUARIO */
.header-menu-usuario{
  /* background-color: beige; */
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 auto; */
  font-size: 10px;
}

.usuario-login{
  height: 28px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 150ms ease;
}

  .usuario-login:hover{
      border-radius: 50%;
      box-shadow: 0 3px 0 #929d79;
  }

  .usuario-signup{
      height: 25px;
      cursor: pointer;
      transition: all 150ms ease;
  }

      .usuario-signup:hover{
          border-radius: 50%;
          box-shadow: 0 3px 0 #929d79;
      }

.header-presentation{
  /* background-color: rgba(0, 255, 242, 0.479); */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

  h1{
      color: transparent;
      font-size: 70px;
      line-height: 1.6;
      letter-spacing: 5px;
      font-weight: 500;
      -webkit-text-stroke : 1.1px white;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* TITULO DE LA MARCA */
  .header-presentation{
      /* background-color: rgba(0, 255, 242, 0.479); */
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
      h1{
          color: transparent;
          font-size: 50px;
      }

  /* SLOGAN DE LA MARCA */

}
