<header class="header">
  <div class="header-menu margen-interno" data-aos="fade-up" data-aos-duration="2000">
      <div class="header-menu-logo">
          <a href="index.html">
              <img class="menu-logo-img" src="img/rt1.jpg" alt="">
          </a>
      </div>
      <div class="header-menu-navbar">
          <a href=""><i class="fa-solid fa-house"></i>BIENVENIDA</a>
          <a href=""><i class="fa-solid fa-users"></i>TOUR</a>
          <a href=""><i class="fa-solid fa-bolt"></i>PRODUCTOS</a>
          <a href=""><i class="fa-solid fa-paper-plane"></i>CONTACTO</a>
          <a href=""><i class="fa-solid fa-gear"></i>SOPORTE</a>
      </div>
      <div class="header-menu-usuario">
       <!-- <img src="img/stroke.svg" class="usuario-login" alt="user-icon" id="user" title="Iniciar Sesión">-->
       <!-- <img src="img/share-2.svg" class="usuario-signup" alt="user-icon" id="user" title="Registrarse">-->
          <!-- <button class="btn-usuario" href="" title="Iniciar Sesion"><i class="fa-solid fa-right-to-bracket"></i></button>
          <button class="btn-usuario" href="" title="Registrate"><i class="fa-solid fa-user-plus"></i></button> -->                </div>
</div>
<!-- Seccion Bienvenida -->
<div class="seccion-bienvenida margen-interno"  >
  <div class="container-bienvenida">
      <div class="bienvenida-uno" align="center">
        <h3 data-aos="fade-up" data-aos-duration="1000">En la Era del consumo  </h3>
        <h3 data-aos="fade-up" data-aos-duration="2000">el <strong>ReTrueque</strong></h3>
        <h3 data-aos="fade-up" data-aos-duration="3000">es un acto de rebeldía.</h3>
      </div>
      <h3 class="bienvenida-dos"data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      data-aos-duration="1000" align="center">TU EXPERIENCIA DE TRUEQUE DIGITAL</h3>
  </div>

  <script>
    AOS.init();
  </script>
